# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

# System files
.DS_Store

# PM2 logs
.pids
logs/

# Build files (only if you have any)
dist/
build/

# Temporary
tmp/
